# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Django
/media/
/staticfiles/
/logs/

# Ambiente
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
db.sqlite3
# Script SQL deve ir para o repo
